.characters-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  /* margin-left: 2%; */
  margin-top: 12px;
  height: 600px;
}

.card {
  background-color: green;
  margin-top: 15px;
  padding: 0px 0px 0px 0px;
  border: black solid 2px;
  border-radius: 10%;
}

.card:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
}

.all-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .name{
  display: flex;
  justify-content: center;
}

.arrows{
  width: 40px;
  height: 25px;
}

.arrows:hover{
pointer-events: none;
  filter: invert(91%) sepia(8%) saturate(68%) hue-rotate(176deg) brightness(105%) contrast(88%);}

.arrows-container {
  display: flex;
  justify-content: center;
  margin-top: 22.4%;
  
}

img {
  width: 220px;
  height: 190px;
}
